.calendar {
    background-color: #ffffff;
    width: auto;
    height: auto;
    font-weight: 700;
    text-align: center;
    padding: 5px 0px;
}

.calendar > thead > tr td {
    width: 80px;
    padding-bottom: 8px;
}

.calendar-nav {
    display: inline-block;
    color: #ffffff;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 500;
}

.menu-item {
    width: 200px;
    margin: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

a:hover {
    border-bottom: 2px solid #ffffff;
}

.clickable {
    cursor: pointer;
}
